@import "alert";
@import "avatars";
@import "badges";
@import "cards";


.card-resto {
  background: gray;
  width: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
}

.card-reviews {
  background: lightblue;
  width: 100%;
  margin: 10px;
  padding: 10px;

}
